Smart_Irrigation_System_via_Node_RED_and_MQTT/Main Files/flows.json
[
    {
        "id": "662e876796369d30",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b035ddb0c8d0aa92",
        "type": "mqtt in",
        "z": "662e876796369d30",
        "name": "",
        "topic": "esp32/sensor_data",
        "qos": "2",
        "datatype": "json",
        "broker": "427ee3659f4f159c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "df34804c8b882be8",
                "c678f04b0bb33250",
                "07895815a1b28a22"
            ]
        ]
    },
    {
        "id": "df34804c8b882be8",
        "type": "ui_gauge",
        "z": "662e876796369d30",
        "name": "",
        "group": "105506c97360b18b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{msg.payload.temperature}}",
        "min": "-30",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "38",
        "diff": false,
        "className": "",
        "x": 400,
        "y": 100,
        "wires": []
    },
    {
        "id": "c678f04b0bb33250",
        "type": "ui_gauge",
        "z": "662e876796369d30",
        "name": "",
        "group": "105506c97360b18b",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{msg.payload.humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 400,
        "y": 200,
        "wires": []
    },
    {
        "id": "07895815a1b28a22",
        "type": "ui_gauge",
        "z": "662e876796369d30",
        "name": "",
        "group": "105506c97360b18b",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Soil Moisture",
        "label": "%",
        "format": "{{msg.payload.moisture}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 400,
        "y": 300,
        "wires": []
    },
    {
        "id": "5eb073427a460a34",
        "type": "ui_button",
        "z": "662e876796369d30",
        "name": "PUMP ON",
        "group": "105506c97360b18b",
        "order": 4,
        "width": "",
        "height": "",
        "passthru": false,
        "label": "PUMP ON",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "PUMP_ON",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "48fe67907d58916a",
                "660a303a0854b643"
            ]
        ]
    },
    {
        "id": "3658ba81b6fb7b5c",
        "type": "ui_button",
        "z": "662e876796369d30",
        "name": "PUMP OFF",
        "group": "105506c97360b18b",
        "order": 5,
        "label": "PUMP OFF",
        "color": "white",
        "bgcolor": "green",
        "payload": "PUMP_OFF",
        "payloadType": "str",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "48fe67907d58916a",
                "660a303a0854b643"
            ]
        ]
    },
    {
        "id": "660a303a0854b643",
        "type": "ui_text",
        "z": "662e876796369d30",
        "group": "105506c97360b18b",
        "order": 6,
        "width": "",
        "height": "",
        "name": "",
        "label": "Motor Pump Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 400,
        "y": 420,
        "wires": []
    },
    {
        "id": "48fe67907d58916a",
        "type": "mqtt out",
        "z": "662e876796369d30",
        "name": "",
        "topic": "esp32/pump_command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "427ee3659f4f159c",
        "x": 400,
        "y": 500,
        "wires": []
    },
    {
        "id": "427ee3659f4f159c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "105506c97360b18b",
        "type": "ui_group",
        "name": "Default",
        "tab": "405fe54e1fa03aec",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "405fe54e1fa03aec",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "977431643e06b213",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]